.*/
.*.*

_ignore/
node_modules/
local_modules/
cache/
bin/
dist/
logs/
temp/

*.ignore.*
*.cache*
*.*.map
*.min.*
*.tmp
*.bak
*.log
*.zip
*.tgz
*.exe

package-lock.json
yarn.lock
*.tsbuildinfo

.DS_Store*
.Spotlight-V*
.Trashes
[Tt]humbs.db
ehthumbs.db

!/.github/
!.storybook/

# !_local_modules/**/*
# !*/*.zip
